{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<script>
    document.getElementById('nav_link_main').className = 'nav-item';
</script>

<div class="row mt-5">
    <div class="col-md-0">

    </div>
    <div class="container col-md-4 mt-5">
        <h2 align="center"><b>Изменение пароля</b></h2>

        <h5 align="center"><b style="color: red">{{header}}</b></h5>
        <hr>
        <form action="/users/user/changepassword/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_password1">{{change_form.password1.label}}</label>
                {{change_form.password1}}
                <script>
                    document.getElementById('id_password1').className = 'form-control';
                </script>
            </div>

            <div class="form-group">
                <label for="id_password2">{{change_form.password2.label}}</label>
                {{change_form.password2}}
                <script>
                    document.getElementById('id_password2').className = 'form-control';
                </script>
            </div>

            <div class="form-group">
                <label for="id_password3">{{change_form.password3.label}}</label>
                {{change_form.password3}}
                <script>
                    document.getElementById('id_password3').className = 'form-control';
                </script>
            </div>

            <button type="submit" class="btn btn-danger">Изменить пароль</button>
        </form>
    </div>
</div>
{% endblock %}